* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.h-100 {
    height: 100%;
}

li {
    list-style: none;
}

.gray {
    color: #808080;
}

.white {
    color: white;
}

.padding-b20 {
    padding-bottom: 20px;
}

/* Main  */

.corpo {
    width: 100%;
    height: 100vh;
}
main {
    width: 100%;
    height: calc(100% - 80px);
}

main nav {
    float: left;
    width: 210px;
    background-color: #000000;
    color: #808080;
}

main .content {
    float: left;
    width: calc(100% - 210px);
    background-color: #141922;
}

/* Nav  */

/* nav-top  */

main nav .nav-top #logo img{
    width: 80%;
    padding: 20px;
}

main nav .nav-top .nav-playlist {
    padding: 20px;
}

main nav .nav-top .nav-main ul li {
    padding-left: 20px;
}

main nav .nav-top ul li a {
    display: flex;
    align-items: center;
    color: #808080;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
}

nav .nav-top .nav-main img {
    width: 23px;
    filter: invert(0.2);
    margin-right: 5px;
}

nav .nav-top .nav-main ul li:first-child {
    border-left: 3px solid #ADFF2F;
    padding-left: 17px;
}

nav .nav-top .nav-playlist ul li:first-child {
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

nav .nav-top .nav-playlist #add-playlist {
    width: 30px;
    height: 30px;
    background-color: #808080;
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    margin: 10px 10px 10px 0;
}

nav .nav-top ul li a:hover,
nav .nav-top ul li a:hover img {
    color: white;
    filter: none;
}

nav .nav-top ul li a:hover #add-playlist {
    background-color: white;
}

/* nav bottom  */

nav .nav-bottom {
    padding: 10px 20px;
}

nav .nav-bottom .install-app {
    padding-bottom: 10px;
    border-bottom: 1px solid #808080;
    font-size: 12px;
    margin-bottom: 10px;
    filter: invert(0.3);
}

nav .nav-bottom .install-app img {
    width: 15px;
    margin-right: 10px;
}

nav .nav-bottom .user-profile {
    font-size: 13px;
    font-weight: bold;
}

nav .nav-bottom .user-profile img {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    margin-right: 10px;
}

nav .nav-bottom .install-app:hover,
nav .nav-bottom .install-app:hover img {
    color: white;
    filter: none;
}


/* Footer  */

footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
}


/* debug nav  */

.debug #logo {
    background-color: teal;
}
.debug .nav-main {
    background-color:tomato;
}
.debug .nav-playlist {
    background-color:thistle;
}
.debug .nav-user {
    background-color:wheat;
}

/* debug footer  */

.debug .f-left {
    background-color: yellowgreen;
}

.debug .f-center {
    background-color: slategray;
}

.debug .f-right {
    background-color:rebeccapurple;
}