* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.h-100 {
    height: 100%;
}

li {
    list-style: none;
}

.gray {
    color: #808080;
}

.white {
    color: white;
}

.padding-b20 {
    padding-bottom: 20px;
}

/* Main  */

.corpo {
    width: 100%;
    height: 100vh;
}
main {
    width: 100%;
    height: calc(100% - 90px);
}

main nav {
    float: left;
    width: 230px;
    background-color: #000000;
    color: #808080;
    overflow-y: hidden;
}

main .content {
    float: left;
    width: calc(100% - 230px);
    background-color: #141922;
    overflow: auto;
}

/* Nav  */

/* nav-top  */
main .nav-top {
    height: calc(100% - 80px);
    overflow: hidden;
    min-height: 370px;
}

main nav .nav-top #logo img{
    width: 80%;
    padding: 20px;
}

main nav .nav-top #logo-mobile {
    display: none;
}

main nav .nav-top .nav-playlist {
    padding: 20px;
    overflow-y: hidden;
}

main nav .nav-top .nav-playlist .menu-list {
    height: 80%;
    overflow-y: auto;
}

main nav .nav-top .nav-main ul li {
    padding-left: 20px;
}

main nav .nav-top a {
    display: flex;
    align-items: center;
    color: #808080;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
}

nav .nav-top .nav-main img {
    width: 23px;
    filter: invert(0.2);
    margin-right: 5px;
}

nav .nav-top .nav-main ul li:first-child {
    border-left: 3px solid #ADFF2F;
    padding-left: 17px;
}

nav .nav-top .nav-playlist h3{
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

nav .nav-top .nav-playlist #add-playlist {
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: #808080;
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 37px;
    margin: 10px 10px 10px 0;
}

nav .nav-top a:hover,
nav .nav-top a:hover img {
    color: white;
    filter: none;
}

nav .nav-top a:hover #add-playlist {
    background-color: white;
}

/* nav bottom  */

nav .nav-bottom {
    height: 80px;
    padding: 10px 20px;
}

nav .nav-bottom .install-app {
    padding-bottom: 10px;
    border-bottom: 1px solid #808080;
    font-size: 12px;
    margin-bottom: 10px;
    filter: invert(0.3);
}

nav .nav-bottom .install-app img {
    width: 15px;
    margin-right: 10px;
}

nav .nav-bottom .user-profile {
    font-size: 13px;
    font-weight: bold;
}

nav .nav-bottom .user-profile img {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    margin-right: 10px;
}

nav .nav-bottom .install-app:hover,
nav .nav-bottom .install-app:hover img {
    color: white;
    filter: none;
}

/* Main content  */

main .content .wrapper {
    padding-top: 100px;
}

main .content .upgrade {
    position: fixed;
    width: calc(100% - 230px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 80px;
    text-align: right;
}

main .content .upgrade #upgrade-btn{
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 12px 40px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 20px;
}

main .content .wrapper .nav-content ul li {
    text-transform: uppercase;
    color: #808080;
    font-size: 12px;
    padding: 0 10px;
}

main .content .wrapper .nav-content ul li:hover {
    color: white;
}

/* Footer  */

footer {
    width: 100%;
    height: 90px;
    background-color: #282828;
}

footer .player {
    width: 100%;
    height: 100%;
}

footer .p-left{
    width: 230px;
    height: 100%;
}

footer .p-center {
    width: 40%;
    height: 100%;
}

footer .p-right{
    width: 230px;
    height: 100%;
}


/* player left  */

.player .p-left {
    color: #808080;
    font-size: 14px;
}

footer .player .p-left .item img {
    width: 40px;
    margin-right: 10px;
}

.player .p-left .item i {
    padding: 0 5px;
}

footer .player .p-left .item h5:hover,
footer .player .p-left .item h6:hover {
    text-decoration: underline;
    color: white;
}

footer .player .p-left .item i:hover {
    color: white;
}

/* player center  */

.player .p-center {
    color: white;
    font-size: 10px;
}

.row-top {
    height: 60%;
}

.row-top i {
    padding: 0 10px;
    color: white;
    font-size: 14px;
}

.row-bottom {
    width: 100%;
}

footer .player #player-btn {
    font-size: 30px;
}

footer .player .p-center .row-bottom .bar {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 4px;
    background-color: #535353;
    border-radius: 10px;
    cursor: pointer;
}

footer .player .p-center .row-bottom .bar .time-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    background-color: #BABABA;
}

footer .player .p-center .row-top #player-btn:hover {
    transform: scale(1.1);
}

.player .p-center .row-bottom .bar .bar-btn {
    position: absolute;
    top: -4px;
    left: 18%;
    display: none;
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.player .p-center .row-bottom .bar:hover .bar-btn {
    display: block;
}

.player .p-center .row-bottom .bar:hover .time-bar {
    background-color: #ADFF2F;
}

/* player right  */

.player .p-right {
    color: white;
    font-size: 14px;
}

footer .player .p-right .bar {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 3px;
    background-color: #535353;
    border-radius: 10px;
}

footer .player .p-right .time-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    background-color: #BABABA;
}

.player .p-right .bar .bar-btn {
    position: absolute;
    top: -4px;
    left: 18%;
    display: none;
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.player .p-right .bar:hover .bar-btn {
    display: block;
}

.player .p-right .bar:hover .time-bar {
    background-color: #ADFF2F;
}






/* debug nav  */

.debug #logo {
    background-color: teal;
}
.debug .nav-main {
    background-color:tomato;
}
.debug .nav-playlist {
    background-color:thistle;
}
.debug .nav-user {
    background-color:wheat;
}

/* debug footer  */

.debug .f-left {
    background-color: yellowgreen;
}

.debug .f-center {
    background-color: slategray;
}

.debug .f-right {
    background-color:rebeccapurple;
}